<div class="p-grid p-ai-center p-fluid container">
  <div class="p-col-12 p-sm-6 p-sm-offset-3 p-md-4 p-md-offset-4">
    <p-card header="Login">
      <div class="p-col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" pInputText placeholder="Insira seu e-mail">
        </div>
      </div>

      <div class="p-col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input type="text" pInputText placeholder="Insira sua senha">
        </div>
      </div>

      <div class="p-col-12">
        <button pButton type="button" label="Entrar" icon="pi pi-sign-in" iconPos="right" class="p-button-raised p-button-rounded p-button-success"></button>
      </div>
      <div class="p-col-12">
        <button pButton type="button" label="Registrar-se" icon="pi pi-user-plus" iconPos="right" class="p-button-raised p-button-rounded p-button-info"></button>
      </div>
    </p-card>
  </div>
</div>
